{% extends 'tasks/all-tasks-dashboard/base-dash.html' %}

{% block card %}
    {% if 'canceled/' in request.path %} 
        class="card bg-warning" 
    {% else %} 
        class="card" 
    {% endif %}
{% endblock card %}

{% block link %}
    {% url 'tasks:all_tasks_query' 'canceled' %}
{% endblock link %}

{% block icon %}
    {% if 'canceled/' in request.path %}
        <i class="fa-solid fa-4x text-light fas fa-ban"></i>
    {% else %}
        <i class="fa-solid fa-4x text-warning fas fa-ban"></i>
    {% endif %}
{% endblock icon %}

{% block value %}
    {% if 'canceled/' in request.path %}
        <div id="canceled" class="text-light">{{canceled}}</div>
    {% else %}
        <div id="canceled" class="text-warning">{{canceled}}</div>
    {% endif %}
{% endblock value %}

{% block dash-title %}
    {% if 'canceled/' in request.path %}
        <div class="text-light">Canceled</div>
    {% else %}
        <div class="text-warning">Canceled</div>
    {% endif %}
{% endblock dash-title %}