<div class="row">
    {#% include 'tasks/all-tasks-dashboard/total.html' %#}
    {% include 'tasks/all-tasks-dashboard/finished.html' %}
    {% include 'tasks/all-tasks-dashboard/delivered.html' %}
    {% include 'tasks/all-tasks-dashboard/undelivered.html' %}
    {#% include 'tasks/all-tasks-dashboard/pending.html' %#}
    {% include 'tasks/all-tasks-dashboard/today.html' %}
    {% include 'tasks/all-tasks-dashboard/cancel-pending.html' %}
    {% include 'tasks/all-tasks-dashboard/canceled.html' %}
</div> <!-- End Row -->