{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit {{customer.customer_name|title}}{% endblock title %}
{% block sidebar-content %}
    {% include 'partials/sidebar.html' %}
{% endblock sidebar-content %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4">
                <h3 class="text-center mb-4 text-danger">Add Customer</h3>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        {{ field|as_crispy_field }}
                    {% endfor %}

                    <div class="d-flex justify-content-between mt-4">
                        <button type="submit" class="btn btn-success">Save Changes</button>
                        <a href="{% url 'customers:customers_list' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
