{% load static %}
<link href="{% static 'bootstrap-5.3.5/dist/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'fontawesome-free-6.7.2/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'css/boxicons/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'datatables/datatables.min.css' %}" rel="stylesheet">
<link href="{% static 'datatables/responsive.bootstrap5.min.css' %}" rel="stylesheet">

<link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'css/select2-bootstrap-5-theme.min.css' %}" rel="stylesheet" />

<!-- fade aimation -->
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}"/>


<!-- In your base_email.html or layout -->
<link rel="stylesheet" href="{% static 'css/tagify.css' %}">
