{% load crispy_forms_tags %}
<div class="modal fade modal-lg" id="deletePhoneModal{{ phone.id }}" tabindex="-1" aria-labelledby="deletePhoneModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deletePhoneModalLabel">Delete Phone</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'customers:delete_phone' %}" method="POST" class="was-validated">
        <input type="hidden" name="phone" value="{{phone.id}}">
        {% csrf_token %}
        <h5 class="text-danger text-canter">Are you sure you want to delete this phone number?</h5>

        <button class="btn btn-danger" type="submit" name="add_phone">Save</button>
      </form>
      </div>
    </div>
  </div>
</div>